<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mobyFilePath" value="C:\Users\Ali\Desktop\AlliesInc\SourceAllies\SourceAllies\TextFiles\mobydick.txt" />
    <add key="stopWordsFilePath" value="C:\Users\Ali\Desktop\AlliesInc\SourceAllies\SourceAllies\TextFiles\stop-words.txt" />

  </appSettings>
</configuration>